<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,84},{22,22}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,91},{22,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{52,44}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,69},{52,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{88,70}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,43},{88,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{128,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{128,80}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{128,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,66},{128,40}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>connectionSign.png</string>
            <key>size</key>
            <string>{510,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71743c424c259ec4d083d4acb80d2997:52cd16effe5aa6692212e33b6155ec81:dfd6d59b4d5920986909783931e4cd9b$</string>
            <key>textureFileName</key>
            <string>connectionSign.png</string>
        </dict>
    </dict>
</plist>
