<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>connecting_Scene 1/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,15}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0001</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{24,15}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0002</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{30,15}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0003</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,15}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0004</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{42,15}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0005</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{48,15}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0006</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{54,15}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0007</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{58,15}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0008</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{64,15}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0009</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{68,15}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0010</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{72,15}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0011</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{76,15}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0012</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{80,15}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0013</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{84,15}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0014</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{86,15}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0015</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{88,15}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0016</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{92,15}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0017</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{94,15}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0018</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{96,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0019</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{98,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0020</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{98,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0021</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0022</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0023</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0024</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0025</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0026</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0027</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0028</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0030</key>
            <dict>
                <key>frame</key>
                <string>{{104,19},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0031</key>
            <dict>
                <key>frame</key>
                <string>{{206,19},{100,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0032</key>
            <dict>
                <key>frame</key>
                <string>{{308,19},{98,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0033</key>
            <dict>
                <key>frame</key>
                <string>{{408,19},{98,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0034</key>
            <dict>
                <key>frame</key>
                <string>{{508,19},{96,15}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0035</key>
            <dict>
                <key>frame</key>
                <string>{{606,19},{94,15}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{94,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0036</key>
            <dict>
                <key>frame</key>
                <string>{{702,19},{92,15}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0037</key>
            <dict>
                <key>frame</key>
                <string>{{796,19},{88,15}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{88,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0038</key>
            <dict>
                <key>frame</key>
                <string>{{886,19},{86,15}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{86,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0039</key>
            <dict>
                <key>frame</key>
                <string>{{974,19},{84,15}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{84,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0040</key>
            <dict>
                <key>frame</key>
                <string>{{1060,19},{80,15}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{80,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0041</key>
            <dict>
                <key>frame</key>
                <string>{{1142,19},{76,15}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{76,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0042</key>
            <dict>
                <key>frame</key>
                <string>{{1220,19},{72,15}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{72,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0043</key>
            <dict>
                <key>frame</key>
                <string>{{1294,19},{68,15}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{68,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0044</key>
            <dict>
                <key>frame</key>
                <string>{{1364,19},{64,15}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{64,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0045</key>
            <dict>
                <key>frame</key>
                <string>{{1430,19},{58,15}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{58,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0046</key>
            <dict>
                <key>frame</key>
                <string>{{1490,19},{54,15}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{54,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0047</key>
            <dict>
                <key>frame</key>
                <string>{{1546,19},{48,15}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{48,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0048</key>
            <dict>
                <key>frame</key>
                <string>{{1596,19},{42,15}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{42,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0049</key>
            <dict>
                <key>frame</key>
                <string>{{1640,19},{36,15}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{36,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0050</key>
            <dict>
                <key>frame</key>
                <string>{{1678,19},{30,15}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0051</key>
            <dict>
                <key>frame</key>
                <string>{{1958,2},{24,15}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0052</key>
            <dict>
                <key>frame</key>
                <string>{{1710,19},{16,15}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0053</key>
            <dict>
                <key>frame</key>
                <string>{{1710,19},{16,15}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0054</key>
            <dict>
                <key>frame</key>
                <string>{{1710,19},{16,15}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0055</key>
            <dict>
                <key>frame</key>
                <string>{{1710,19},{16,15}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0056</key>
            <dict>
                <key>frame</key>
                <string>{{1710,19},{16,15}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0057</key>
            <dict>
                <key>frame</key>
                <string>{{1728,19},{18,15}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0058</key>
            <dict>
                <key>frame</key>
                <string>{{1748,19},{16,15}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0059</key>
            <dict>
                <key>frame</key>
                <string>{{1766,19},{16,15}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0060</key>
            <dict>
                <key>frame</key>
                <string>{{1784,19},{16,15}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0061</key>
            <dict>
                <key>frame</key>
                <string>{{1766,19},{16,15}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0062</key>
            <dict>
                <key>frame</key>
                <string>{{1802,19},{16,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0063</key>
            <dict>
                <key>frame</key>
                <string>{{1820,19},{16,15}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0064</key>
            <dict>
                <key>frame</key>
                <string>{{1820,19},{16,15}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0065</key>
            <dict>
                <key>frame</key>
                <string>{{1838,19},{16,15}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0066</key>
            <dict>
                <key>frame</key>
                <string>{{1856,19},{16,15}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0067</key>
            <dict>
                <key>frame</key>
                <string>{{1856,19},{16,15}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0068</key>
            <dict>
                <key>frame</key>
                <string>{{1874,19},{16,15}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0069</key>
            <dict>
                <key>frame</key>
                <string>{{1892,19},{16,15}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0070</key>
            <dict>
                <key>frame</key>
                <string>{{1784,19},{16,15}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0071</key>
            <dict>
                <key>frame</key>
                <string>{{1910,19},{16,15}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0072</key>
            <dict>
                <key>frame</key>
                <string>{{1728,19},{18,15}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0073</key>
            <dict>
                <key>frame</key>
                <string>{{1766,19},{16,15}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0074</key>
            <dict>
                <key>frame</key>
                <string>{{1928,19},{18,15}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0075</key>
            <dict>
                <key>frame</key>
                <string>{{1948,19},{18,15}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0076</key>
            <dict>
                <key>frame</key>
                <string>{{1968,19},{16,15}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
            <key>connecting_Scene 1/0077</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,15}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{100,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>connecting.png</string>
            <key>size</key>
            <string>{1987,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99faa0334b44a474f34849b586e5d112:c728e9605e9c0aa054178fa705f274a7:540ba6ec87a3b8fbe6718347ce1398e9$</string>
            <key>textureFileName</key>
            <string>connecting.png</string>
        </dict>
    </dict>
</plist>
