<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainUI_Windows_Close_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>MainUI_Windows_Close_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,59},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>WindowBase.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI_Windows_Component.png</string>
            <key>size</key>
            <string>{189,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b13fcb2b7c2627fe04490f549fb952dd:1e7758bac76edad0b578791a589881d9:ce8d7dfe349b076e529e83767344cece$</string>
            <key>textureFileName</key>
            <string>MainUI_Windows_Component.png</string>
        </dict>
    </dict>
</plist>
